:root{
    --primary:#000;
    --primary-alpha-60:rgba(0, 0, 0, 0.6);
    --primary-alpha-40:#999999;
    --primary-alpha-20:rgba(0, 0, 0, 0.2);
    --primary-alpha-10:rgba(0, 0, 0, 0.1);
    --color-white:#fff;
    --color-gray:#F0F0F0;
    --color-hero-bg:#F2F0F1;
    --color-red:#FF3333;
    --color-red-alpha-10:rgba(255, 51, 51, 0.1);

    --primary_font:'Satoshi', sans-serif;
    --primary_font_medium:'Satushi-Medium', sans-serif;
    --primary_font_bold:'Satushi-Bold', sans-serif;
    --secondary_font: 'integralcf-bold', sans-serif;
}


html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;
}
*, *::after, *::before{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body{
    line-height: 1.6;
    font-family: var(--primary_font);
    font-size: 1.6rem;
    overflow-x: hidden;
}
p{
    color: var(--primary-alpha-60);
}

a{
    text-decoration: none;
}
hr{
    margin-top: 4.5rem;
    border: 0;
    border-top: 1px solid var(--primary-alpha-10);
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* 

--component--

*/

.btn{
    background-color: var(--primary);
    color: var(--color-white);
    padding: 1.6rem 5.4rem;
    border: none;
    outline: none;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
}
.section-head{
    text-align: center;
    margin-top: 6rem;
}
.sectoin__title{
    font-family: var(--secondary_font);
    font-size: 4.8rem;
    text-transform: uppercase;
}

@media (max-width:768px){
    .sectoin__title{
        font-size: 3.8rem;
    }
}

@media (max-width:576px) {
    .sectoin__title{
        font-size: 3.2rem;
    }
}