/* 

===========================
    Product Info Section
===========================

*/
.product-info{

}
.product-info__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 3.2rem;
}
.product-info__left{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.4rem;
    align-items: center;
}
.product-images{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.product__image{
    width: 100%;
    height: 100%;
}
.product-images__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: all 150ms ease-in;
    cursor: pointer;
}
.product-images__img--active{
    border: 1px solid var(--primary);
}
.product__main-img{
    width: 100%;
    border-radius: 2rem;
    height: 100%;
    object-fit: cover;
}
.product-info__right{
    width: 50%;
}
.product__title{
    font-family: var(--secondary_font);
    font-size: 4rem;
}
.score{
    display: flex;
    gap: 1.5rem;
}
.score__stars{
    display: flex;
    gap: 0.5rem;
}
.score__text{
    font-size: 1.4rem;
    color: var(--primary);
}
.score__text span{
    color: var(--primary-alpha-60);
}
.price{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.price__final{
    font-family: var(--primary_font_bold);
    font-size: 3.2rem;
}
.price__initial{
    font-family: var(--primary_font_bold);
    font-size: 3.2rem;
    color: var(--primary-alpha-40);
    text-decoration: line-through;
}
.price__discount{
    background-color: var(--color-red-alpha-10);
    color: var(--color-red);
    font-family: var(--primary_font_medium);
    font-size: 1.6rem;
    padding: 0.6rem 1.4rem;
    border-radius: 6rem;
    -webkit-border-radius: 6rem;
    -moz-border-radius: 6rem;
    -ms-border-radius: 6rem;
    -o-border-radius: 6rem;
}
.product__caption{
    margin-top: 1.5rem;
}
.colors-section{

}
.product-section__title{

}
.colors{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    justify-content: flex-start;
    margin-top: 1.4rem;
}
.color__item{
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.size-section{

}
.product-section__title{

}
.sizes{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    
}
.size__item{
    color: var(--primary-alpha-60);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in;
    cursor: pointer;
}
.size__item--active{
    background: var(--primary);  
    color: var(--color-white);
    border: none;
    outline: none;
    border-radius: 6.2rem;
    padding: 1.6rem 2rem;
}
.add-to-cart-section{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.count__buttons{
    display: flex;
}
.count__decrease,
.count__increase{
    border: none;
    outline: none;
    cursor: pointer;
}
.count__text{
    background-color: transparent;
    outline: none;
    border: none;
    width: 6rem;
    font-size: 2rem;
    text-align: center;
    display: flex;
    font-family: var(--primary_font_medium);
}

.add__link{
    flex-grow: 1;
    text-align: center;
}
/* 

===================
    Tabs Section
===================

*/
.tabs__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.tabs__item{
    width: 100%;
    font-size: 2rem;
    position: relative;
    cursor: pointer;
    color: var(--primary);
    opacity: 0.6;
    transition: all 250ms ease-in;
}
.tabs__item--active{
    opacity: 1;
    font-family: var(--primary_font_medium);
}
.tabs__item::after{
    content: "";
    border-bottom: 2px solid var(--primary);
    display: block;
    position: absolute;
    bottom: -1.6rem;
    right: 0;
    left: 0;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out; 
}
.tabs__item--active::after{
    opacity: 1; 
    transform: scaleX(1);
}

/* 

=======================
    Reviews Section
======================

*/

.reviews__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
}
.reviews__title{
    font-family: var(--primary_font_bold);
    font-size: 2.4rem;
}
.reviews__count{
    color: var(--primary-alpha-60);
    font-size: 1.6rem;
    font-family: var(--primary_font);
}
.reviews__buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.reviews__filter{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.reviews__sort{
    
}
.reviews__sort-select{
    background-color: transparent;
    outline: none;
    border: none;
    font-family: var(--primary_font_medium);
}
.reviews__write-btn{

}
.reviews__container{
    margin: 2.4rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.reviews__load-more{
    display: block;
    margin: 0 auto;
    border-radius: 6.2rem;
    border: 1px solid var(--color-red-alpha-10);
    padding: 1.6rem 5.4rem;
    background-color: transparent;
    font-family: var(--primary_font_medium);
}
.product-like__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 4.5rem;
}

@media (max-width:1400px){

}
@media (max-width:1200px){

}
@media (max-width:992px){
    .product-info__wrapper{
        flex-direction: column;
    }
    .product-info__left,
    .product-info__right{
        width: 100%;
    }
    .product__title{
        font-size: 3rem;
    }
    .price__final,
    .price__initial{
        font-size: 2.8rem;
    }
    .product-images__img,
    .tabs__item,
    .count__decrease,
    .count__increase,
    .color__item,
    .size__item{
        cursor: default;
    }
    .reviews__container{
        grid-template-columns: 1fr;
    }

}
@media (max-width:768px){
    .reviews__sort{
        display: none;
    }
}
@media (max-width:576px){
    .product-info__left{
        display: flex;
        flex-direction: column-reverse;
    }
    .product-images{
        flex-direction: row;
    }
    .product__title{
        font-size: 2.4rem;
    }
    .price__final,
    .price__initial{
        font-size: 2.4rem;
    }
    .price__discount{
        font-size: 1.4rem;
    }
    .size__item--active{
        padding: 1.2rem 1.6rem;
    }
    .count__text{
        font-size: 1.4rem;
        width: 3rem;
    }
    .count__increase > svg,
    .count__decrease > svg,
    .reviews__filter > svg{
        width: 2rem;
        height: 2rem;
    }
    .tabs__item{
        font-size: 1.6rem;
    }
    .reviews__title{
        font-size: 2rem;
    }
    .product-like__wrapper{
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none; 
    }
    
}
@media (max-width:403px){
    .reviews__title{
        font-size: 1.6rem;
    }
}